.page-board {}
.page-board__title {}
.page-board__contents {
    padding-top: 50px;
    height: 100vh;
    width: 100%;
}
.page-board__contents-parent {
    position: relative;
    flex-grow: 1;
    height: 100%;
}
.page-board__contents-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: auto;
}
.page-board__item {
    margin: 0 5px;
}
// .page-board__add {}